<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>The Tech Blog</title>
  {{!-- <link rel="stylesheet" href="/css/style.css"> --}}  
</head>

<body>
<nav class="navbar">
  <ul>
    <li class="home"><a href="/">Home</a></li>
    {{!-- <li class="dashboard"><a href="/dashboard">Dashboard</a></li>
    <li class="login"><a href="/login">Login</a></li>
    <li class="logout"><a href="/logout" id="logout">Logout</a></li> --}}
  
{{#if logged_in}}
        <a href="/dashboard">dashboard</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}

  </ul>
</nav>
<header>
  <h1>The Tech Blog</h1>
</header>

    <main>

      {{{ body }}}
    </main>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>