<h1>TEST </h1>

<p>This is where I want see everything that is created.....</p>

<div>
<section>
    <h2>{{blog.title}}</h2>
<p>{{blog.body}}</p>
</section>

//----Not working I need to link these......need to review/ask tutor???? in a bit.



</div>