{{#each blogs as |blog| }}
<div>
  <div>
    <h2>
      <a href="/singleBlog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>Created by {{blog.user.username}}</p>
  </div>
  <div>
    <p>
      {{blog.body}}
    </p>
  </div>
</div>
{{/each}}